<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:j2ee="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee    http://java.sun.com/xml/ns/j2ee/web-app_2.5.xsd">

    <description>ttrex</description>
    <display-name>ttrex</display-name>
    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <async-supported>true</async-supported>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/ttrex/*</url-pattern>
    </servlet-mapping>
     <init-param>
         <param-name>org.atmosphere.cpr.atmosphereHandlerPath</param-name>
         <param-value>/WEB-INF/classes/</param-value>
	 </init-param>
	 <init-param>
	    <param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
	    <param-value>org.atmosphere.interceptor.HeartbeatInterceptor</param-value>
	 </init-param>
	 <listener>
	 	<listener-class>org.atmosphere.ttrex.SerialComInit</listener-class>
	 </listener>
	 <listener>
	 	<listener-class>org.atmosphere.ttrex.RaceAtmosphereHandler</listener-class>
     </listener>
      	
</web-app>

